body {
  font-size: 20px;
  word-wrap: break-word;
}

a {
  &.navbar-item.is-hidden-mobile.icon {
    &:hover {
      background-color: white;
    }
  }
  &.external-link {
    text-decoration: underline;
    &:hover {
      font-weight: 700;
    }
  }
}

iframe {
  width: 100%;
}
