// Typography
$font-size: 27px;
// Colors
$primary: #253137;
$secondary: rgb(88, 88, 88);
$is-danger: #8e001d;
$links: #1c52a6;
$border: #c9c9c9;
$button-border: #dbdbdb;
$light-gray: #eeeeee;
// Navbar
$navbar-breakpoint: $tablet !default;
