<section class="hero is-medium is-primary">
  <div class="hero-body">
    <div class="container">
      <!-- Title -->
      <h1 class="title">
        {{ .Title }}
      </h1>
      <!-- Description -->
      {{ with .Description }}
      <h2 class="subtitle">
        {{ . }}
      </h2>
      {{ end }}
      <!-- External Link -->
      {{ with .Params.link }}
      <h3>
        <a class="external-link" href="{{ . }}" target="_blank" rel="noopener">
          {{ . }}
        </a>
      </h3>
      {{ end }}
    </div>
  </div>
</section>
<!-- Info -->
{{ if or (not .PublishDate.IsZero) (.Params.lastPresented) (not .Params.noTimeEstimate) (.Params.link) }}
<section class="section pb-sm">
  <div class="container">
    <div class="content">
      <div class="content-info">
        {{ partial "body/hero/info.html" . }}
        <hr>
      </div>
    </div>
  </div>
</section>
{{ end }}
