<section class="hero is-large is-primary background-image" style="background-image:url({{ .Params.banner }});">
  <div class="hero-body"></div>
</section>
<section class="section pb-sm">
  <div class="container">
    <div class="content">
      <!-- Title -->
      <h1>{{ .Title }}</h1>
      {{ if or (not .PublishDate.IsZero) (.Description) (.Params.lastPresented) (not .Params.noTimeEstimate) (.Params.link) (.Params.banner) }}
      <div class="content-info">
        <!-- Description -->
        {{ if .Description }}
        <p>
          ℹ {{ .Description }}
        </p>
        {{ end }}
        <!-- Info -->
        {{ partial "body/hero/info.html" . }}
        <hr> {{ end }}
      </div>
    </div>
  </div>
</section>
