{{ if .Params.categories }}
<hr>
<section class="section section-related">
    <h1>💭 Related</h1>
    {{ $page_link := .Permalink }}
    {{ $categories := .Params.categories }}
    <div class="columns is-multiline">

      {{ range $page := .Site.Pages }}
      {{ $has_common_categories := intersect $categories .Params.categories | len | lt 0 }}
      {{ if and $has_common_categories (ne $page_link $page.Permalink) (lt ($.Scratch.Get "$c") 3)}}
        {{ $.Scratch.Add "$c" 1 }}
        <div class="column is-one-third">
          {{ partial "card.html" . }}
          </div>
        {{ end }}
      {{ end }}
    </div>
</section>
{{ end }}
