{{ define "main" }}
<!-- Hero -->
<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered ">
      <h1 class="title">
        {{ .Title }}
      </h1>
      <h2 class="subtitle">
        {{ .Site.Params.description }}
      </h2>
    </div>
  </div>
</section>
<!-- Latest & Greatest -->
<!-- <section class="section">
  <div class="container content">
    <div class="has-text-centered mb-2">
      <h2>🕒 Latest Posts</h2>
    </div>
    <div class="columns is-multiline">
      {{ range first 4 $.Site.RegularPages.ByDate.Reverse }}
      <div class="column is-half">
        {{ partial "body/content/card/_index.html" . }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
<hr> -->
<!-- Overview of all Pages -->
<section class="section page">
  <div class="container">
    <div class="columns is-multiline">
      <!-- Pages -->
      {{ $pages := where .Site.RegularPages "Type" "page" }}
      <!-- Pages & Section Pages -->
      {{ $pages := $pages | union (.Site.Sections) }}
      <!-- Looping -->
      {{ range $pages.ByTitle }}
      <!-- Filter -->
      {{ if not (.Params.noHomePage) }}
      <div class="column is-one-third">
        {{ partial "body/content/card/_index.html" . }}
      </div>
      {{ end }} {{ end }}
    </div>
  </div>
</section>
{{ end }}
