<script async src="https://cdn.onesignal.com/sdks/OneSignalSDK.js"></script>
<script>
  var OneSignal = window.OneSignal || [];
  OneSignal.push(function () {
    OneSignal.init({
      appId: "e64fce8d-6d54-4434-8b76-3fde80e6bdf1",
    });
  });

</script>
<style>
  #onesignal-popover-container #onesignal-popover-dialog .popover-button.primary {
    background: #253137 !important;
  }

  #onesignal-popover-container #onesignal-popover-dialog .popover-button.secondary {
    color: #253137 !important;
  }

</style>
