<!-- Set Language Mode: HTML Liquid -->
<!-- Internal Templates -->
{{ partial "seo/internal.html" . }}
<!-- Meta -->
{{ partial "seo/meta.html" . }}
<!-- Schema -->
{{ partial "seo/schema.html" . }}
<!-- Updated Time -->
{{ partial "seo/time.html" . }}
<!-- Tags -->
{{ partial "seo/tags.html" . }}
<!-- RSS -->
{{ partial "seo/rss.html" . }}
<!-- Series -->
{{ partial "seo/series.html" . }}
<!-- Labels -->
{{ partial "seo/labels.html" . }}
<!-- Structured Data -->
{{ partial "seo/structured-data.html" . }}
