<!-- Checking for external link -->
<a {{ if .Params.link }}href="{{ .Params.link }}" target="_blank" rel="noopener" {{ else }}href="{{ .RelPermalink }}" {{ end }}>
  <div class="card card-equal-height">
    <!-- Title -->
    <header class="card-header">
      <h2 class="card-header-title">
        {{ .Title }}
      </h2>
    </header>
    <!-- Description -->
    <div class="card-content">
      <div class="content">
        {{ if .Description }} {{ .Description | truncate 100 | safeHTML }} {{ else }} {{ .Summary | truncate 100 | safeHTML }} {{ end }}
        <!-- Check Date -->
        {{ if not .PublishDate.IsZero }}
        <!-- Date -->
        <p class="mt-1 subtitle">
          <time datetime="{{ dateFormat " 2006-01-02 " .Date }}">
            {{ dateFormat "January 2, 2006" .Date }}
          </time>
        </p>
        {{ end }}
      </div>
      {{ if .Params.tags }}
      <div class="mt-sm">
        {{ partial "body/content/taxonomy/tags/tags.html" . }}
      </div>
      {{ end }}
    </div>

  </div>
</a>
